@using System.Security.Claims;
@model List<TaskViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>OrganizeYou - планировщик задач</h1>
    @if (User.Identity.IsAuthenticated == true)
    {
        <h4>Добро пожаловать, @User.Identity.Name</h4>
    }
</div>